#
#
#
*.dll
*.pdb
*.cache
*.resources
*.nupkg
text-adventure-quest/WorldModelCompactSln/packages/**
text-adventure-quest/WorldModelCompactSln/WorldModelCompactSln.v12.suo
text-adventure-quest/WorldModelCompactTester/bin/**
text-adventure-quest/WorldModelCompactTester/obj/**
text-adventure-quest/WorldModelCompact/bin/**
text-adventure-quest/WorldModelCompact/obj/**
